.human {
    display: flex;
    border: 5px solid #ffcc5c;
    justify-content: space-evenly;

}

.computer {
    display: flex;
    border: 5px solid #ff5c90;
    justify-content: space-evenly;

}


.clear {
    display: flex;
    justify-content: space-evenly;
}

/* .flexx > button {
    flex: 1;
  }
   */

.styled-paragraph {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    text-align: center;
    /* Add any other desired styles */
  }

  .styled-paragraph::before {
    content: "\200B"; /* Unicode zero-width space character */
  }

